body{
font-family:Arial;
margin:0;
background:#f5f7fa;
}

header{
background:#1865f2;
color:white;
text-align:center;
padding:40px;
}

h2{
margin-top:40px;
}

.courses{
width:90%;
max-width:1000px;
margin:auto;
}

.course-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.card{
background:white;
padding:25px;
border-radius:10px;
text-decoration:none;
color:black;
box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.card:hover{
transform:scale(1.03);
}
